@model IEnumerable<GL_sensors_v0_4.Models.Measurement>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sensorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pm_1_0)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pm_2_5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pm_10)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.temp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.time)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sensorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pm_1_0)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pm_2_5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pm_10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.temp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.time)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
